
 body {
      background-color: #fff3cd;
      color: #4b2c20;
      font-family: Arial;
      text-align: center;
      font-family:  cursive ;
    }
    img {
      width: 450px;
      border-radius: 10px;
    }
    iframe {
      width: 550px;
      height: 300px;
      border-radius: 10px;
    }

    a{
        text-decoration: none;
    }
h1 {
    color: #3b2a1a; 
    background-color: #ffe699; 
    padding: 20px 0; 
    width: 66%; 
    text-align: center; 
    margin: 20px auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

